---
layout: default
---
<div class="hentry" id="{{ page.id }}">
  <h2 class="entry-title">
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h2>
  {% if page.author %}
  <div class="vcard">
    Posted by <span class="fn">{{ page.author }}</span>
  </div>
  {% endif %}
  <abbr class="published" title="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</abbr>
  <br class="clear" />
  <div class="entry-content">
    {{ content }}
  </div>
  <ul class="meta">
    {% if page.categories != empty %}
      <!-- TODO: correct link to categories -->
      <li>Categories:{% for t in page.categories %} <a href="/categories/{{ t }}">{{ t }}</a>{% endfor %}</li>
    {% endif %}
    {% if page.topics != empty %}
      <!-- TODO: correct link to topics -->
      <li>Topics:{% for t in page.topics %} <a href="/topics/{{ t }}">{{ t }}</a>{% endfor %}</li>
    {% endif %}
    <li>Meta:
      <!-- TODO: should permalink be absolute? -->
      <a href="{{ page.url }}" rel="bookmark">permalink</a>
      {% comment %}<a href="TODO: rss link">rss</a> <a href="TODO: atom link">atom</a>{% endcomment %}
    </li>
  </ul>
</div>
