---
layout: default
---
<div class="hentry" id="{{ page.id}}">
  <h2 class="entry-title">
    <a href="TODO: base URL {{ page.url }}">{{ post.title }}</a>
  </h2>
  <div class="vcard">
    Posted by <span class="fn">TODO: author_link(article)</span>
  </div>
  <abbr class="published" title="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</abbr>
  <br class="clear" />
  <div class="entry-content">
    {{ content }}
  </div>
  <ul class="meta">
    TODO: content_tag(:li, category_links(article).gsub(',', ' '), :class => 'categories') unless article.categories.empty?
    TODO: content_tag(:li, tag_links(article).gsub(',', ' '),      :class => 'tags')       unless article.tags.empty?
    <li>Meta
      TODO: trackbacks_link(article) if article.allow_pings?
      TODO: comments_link(article)   if article.allow_comments?
      <a href="TODO: base URL {{ page.url }}" rel="bookmark">permalink</a>
      <a href="TODO: xml_url :action=>'feed', :type=>'article', :format => 'rss',  :id => article">rss</a>
      <a href="TODO: xml_url :action=>'feed', :type=>'article', :format => 'atom', :id => article">atom</a>
    </li>
  </ul>
</div>
